
@import url('https://fonts.googleapis.com/css?family=Roboto');
h1 {
    color: blueviolet;
}

h2 {
    color: darkblue;
    background-image: url('https://media1.tenor.com/images/2e92887462db1626e7c1007c857ba548/tenor.gif?itemid=5870082');
    background-size: contain;
    padding: 12px;
    text-shadow: 
        -1px -1px 0 #FFF, 
        1px -1px 0 #FFF, 
        -1px 1px 0 #FFF, 
        1px 1px 0 #FFF;
}

p {
    background-color: aquamarine;
    color: cornflowerblue;
    border-radius: 2000px;
    padding: 14px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: dimgray;
    background-image: url('https://media1.tenor.com/images/2e92887462db1626e7c1007c857ba548/tenor.gif?itemid=5870082');
    background-size: cover;
    padding: 20px;
}

#heading{
    background-color: aquamarine;
    border-radius: 2000px;
    padding: 25px;
}

.button {
    font-family: "Roboto", sans-serif;
    background-color: #4277f4;
    border: dashed;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 2000px;
}

.button:hover {
    background-color: aquamarine;
    transition: 0.3s;
    transition-duration: 0.3s;
    }

.wrapperC {
    text-align:center;
}

.navbar {
  overflow: hidden; 
  background-color: #224; 
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; 
  color: white; 
  text-align: center;
  padding: 14px 20px; 
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}


.navbar a:hover {
  background-color: #557; 
  color: black; 
}

*{
	box-sizing: border-box;
}

.row{
	display: flex;
	flex-wrap:wrap;
}

.Wassup{
	flex: 40%;
	background-color: #4188f4;
	padding: 30px;
}

.Me{
	flex: 60%;
	background-color: #4144f4;
	color: white;
	padding: 30px;
}

footer{
	color: white;
	padding: 10px;
	background-color: #224;
}